
$font-family: 'Ubuntu';
$font-weight-light: 300;
$font-weight-medium: 500;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-family;
  font-style: normal;
}
.container {
  width: 300%;
  display: flex;
  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 50vw;
    transition: transform 0.5s ease-in-out;
    .slider {
      display: flex;

      width: 300%;

      &.violet-slider {
        background-color: #630773;
      }

      &.blue-slider {
        background-color: #173673;
      }

      &.green-slider {
        background-color: #0D5E3C;
      }

      .slide {
        display: flex;
        width: 73vw;

        height: 100vh;
        transform: skew(-12deg);
        transform-origin: top left;
        position: relative;
        box-shadow: inset -25px 0px 75px rgba(0, 0, 0, 0.15);

        &.violet-slide {
          background-color: #9C10B4;
        }

        &.blue-slide {
          background-color: #0D41A7;
        }

        &.green-slide {
          background-color: #138F5B;
        }
      }
    }
  }
}

.logo {
  position: absolute;
  margin-left: 13.5vw;
  margin-top: 3.65vw;
  display: flex;
  align-items: center;
  font-weight: $font-weight-light;
  font-size: 1vw;
  line-height: 120%;
  color: #ffffff;
  .text {
    &.violet-text {
      font-weight: $font-weight-medium;
      color: #D72DF3;
    }

    &.blue-text {
      font-weight: $font-weight-medium;
      color: #3577F6;
    }

    &.green-text {
      font-weight: $font-weight-medium;
      color: #0ED984;
    }
  }
  .logo-img{
    margin: 0 0.26vw;
    width: 1.5vw;
    height: 1.5vw;
background-image: url("img/worldwide.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slide-main-container {
  position: absolute;
  top: 15vw;
  left: 13.5vw;
  right: 13.5vw;
  bottom: 15vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .category {
      position: absolute;
      top: 0;
      font-size: 1.04vw;
      &.violet-text {
        font-weight: $font-weight-medium;
        color: #D72DF3;
      }

      &.blue-text {
        font-weight: $font-weight-medium;
        color: #3577F6;
      }

      &.green-text {
        font-weight: $font-weight-medium;
        color: #0ED984;
      }

    }

    .title {
      font-weight: $font-weight-medium;
      font-size: 5vw;
      line-height: 110%;
      margin-top: 3.61vw;

    }
    .description {
      position: absolute;
      bottom: 0;
      font-weight: $font-weight-light;
      font-size: 1.04vw;
      line-height: 125%;
    }
  }
}

.pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 42.81vw;
  margin-left: 13.5vw;
  .dot {
    margin: 0 5px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    width: 0.7vw;
    height: 0.7vw;
    border: 1px solid #FFFFFF;
    &.active {
      background-size: cover;
      background-image: url('img/worldwide.png');
      width: 1.3vw;
      height: 1.3vw;
      border: none;
    }
  }
}

.button-more {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4vw 2.6vw;
  cursor: pointer;
  position: absolute;
  width: 10.9vw;
  height: 3.12vw;
  right: 0;
  bottom: 0;
  border: 2px dashed #FFFFFF;
  font-weight: $font-weight-medium;
  font-size: 1.04vw;
  line-height: 120%;
  color: #FFFFFF;

  &:hover {
    border: none;
    background-color: #ffffff;
  }

  &.violet:hover {
    color: #D72DF3;
  }

  &.blue:hover {
    color: #3577F6;
  }

  &.green:hover {
    color: #0ED984;
  }
}

.images-container {
  width: 37.5vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
  overflow: hidden;
  .image {
    height: 50%;
    background-image: url('img/image1.png');
    background-size: cover;
    background-position: center right;
    padding-top: 75%;
    right: 0;
    flex: 1;
  }
}

.description-container {
  height: 30.15vw;
  margin: 0 8.33vw;
  .description {
    height: 22.13vw;
    margin: 6.5vw 0;
    display: flex;
    .description-element {
      margin: 3vw 0;
      .color {
        height: 3.9vw;
        width: 3.9vw;
        background-size: cover;
        &.violet {
          background-image: url("img/development.png");
          color: #D72DF3;
        }

        &.blue {
          background-image: url("img/growth.png");
          color: #3577F6;
        }

        &.green {
          background-image: url("img/graduated.png");
          color: #0ED984;
        }
      }

      .title {
        margin-top: 1.8vw;
        font-weight: $font-weight-medium;
        font-size: 1.87vw;
        line-height: 115%;
        color: #1D1A1A;
      }
      .text {
        margin-top: 1.8vw;
        font-weight: $font-weight-light;
        font-size: 1.04vw;
        line-height: 130%;
        color: #615D5D;
      }
    }
    .line {
      height: 22.13vw;
      margin: 0 2.6vw;
      border: 1px solid #F2F2F2;
    }
  }


}


.feedback-form {
  position: absolute;
  width: 100vw;
  height: 27.5vw;
  background-color: #F3F3F3;
  .text {
    position: absolute;
    margin-top: 7.8vw;
    margin-left: 8.33vw;
    .title {
      font-weight: $font-weight-medium;
      font-size: 3.43vw;
      line-height: 110%;
    }
    .description {
      position: absolute;
      font-weight: $font-weight-light;
      font-size: 1.04vw;
      line-height: 130%;
      margin-top: 1vw;
    }
  }
  .form {
    width: 45vw;
    height: 7vw;
    margin-top: 11.4vw;
    margin-left: auto;
    margin-right: 8.33vw;
    .input {
      width: 13vw;
      height: 3.3vw;
      background-color: #ffffff;
      border: none;
      font-weight: 400;
      font-size: 1.04vw;
      line-height: 130%;
      padding-left: 1.04vw;
      margin-right: 1vw;
      outline: none;
      cursor: pointer;
      &::placeholder {
        color: #C5C5C5;
      }

      &:hover {
        color: #999999;
        border: none;
      }
    }
    .button-send {
      width: 11.46vw;
      height: 3.38vw;
      background-color: #138F5B;
      color: #ffffff;
      border: none;
      font-weight: $font-weight-medium;
      font-size: 1.04vw;
      line-height: 120%;
      cursor: pointer;
      &:hover {
        background-color: #04643C;
      }
    }
    .policy-text {
      font-size: 0.83vw;
      margin-top: 1.68vw;
      line-height: 130%;
      font-weight: $font-weight-light;
      color: #A6A6A6;
      a {
        color: #A6A6A6;
        text-decoration: underline;
      }

    }
  }
}

